extends ./base.jade

block head

block content
  section.places.recent
    h2 Recent
    h3
      a(href="/places/kates") Kate O'Briens
    h3
      a(href="#") 83 Proof

  section.places.nearby
    h2 Nearby
    h3
      a(href="#") Doc's Clock
    h3
      a(href="#") Natoma Cabana

  section.places.recommended
    h2 Recommended
    h3
      a(href="#") The Pickle Barrel
    h3
      a(href="#") Hair of the Dog Pub
