$black: #000;
$gray: #5D5D5D;
$pink: #FE0170;
$pinkdark: #A70A4F;
$orange: #FC7333;
$orangedark: #CC4A0D;
$purple: #C681FF;
$purpledark: #903BD7;
$green: #00EB7C;
$greendark: #0DB365;
$yellow: #FFDE3A;
$yellowdark: #E2BF15;
$blue: #3AC3FF;
$bluedark: #1E9FD7;
