.icon {
  margin: 0 auto;
  display: block;
  overflow: hidden; }

.icon-density {
  width: 42px;
  height: 57px; }
  .icon-density.icon-density-1 {
    background-image: url(../images/icons/iconCrowdSparse.png); }
  .icon-density.icon-density-2 {
    background-image: url(../images/icons/iconCrowdBusy.png); }
  .icon-density.icon-density-3 {
    background-image: url(../images/icons/iconCrowdCrowded.png); }
  .icon-density.icon-density-4 {
    background-image: url(../images/icons/iconCrowdPacked.png); }

.ambience-container {
  width: 90px;
  margin: 0 auto; }

.icon-noise {
  float: left;
  width: 35px;
  height: 38px;
  margin-left: 10px; }
  .icon-noise.icon-noise-Quiet {
    background-image: url(../images/icons/iconNoiseQuiet.png); }
  .icon-noise.icon-noise-Bustling {
    background-image: url(../images/icons/iconNoiseBustling.png); }
  .icon-noise.icon-noise-Loud {
    background-image: url(../images/icons/iconNoiseLoud.png); }
  .icon-noise.icon-noise-Raging {
    background-image: url(../images/icons/iconNoiseLoud.png); }

.icon-light {
  float: left;
  width: 40px;
  height: 40px; }
  .icon-light.icon-light-Dim {
    background-image: url(../images/icons/iconLightDim.png); }
  .icon-light.icon-light-Warm {
    background-image: url(../images/icons/iconLightWarm.png); }
  .icon-light.icon-light-Bright {
    background-image: url(../images/icons/iconLightBright.png); }

.icon-gender-batman {
  float: left;
  width: 39px;
  height: 39px;
  background-image: url(../images/icons/iconBatman.png); }

.icon-gender-catwoman {
  float: left;
  width: 32px;
  height: 35px;
  margin-left: 10px;
  background-image: url(../images/icons/iconCatWoman.png); }

.gender-container {
  overflow: hidden;
  width: 100px;
  margin: 0 auto; }

.gender-percentage {
  background-color: #5D5D5D;
  height: 10px;
  margin-top: 10px; }
  .gender-percentage .gender-percentage-bar {
    background-color: #dddddd;
    height: 10px; }

.icon-music {
  width: 31px;
  height: 37px;
  background-image: url(../images/icons/iconMusic.png); }

.payment-container {
  margin: 0 auto;
  width: 100px;
  margin-top: 40px; }

.icon-cash-yes {
  float: left;
  width: 42px;
  height: 30px;
  background-image: url(../images/icons/iconCashYes.png); }

.icon-credit-yes {
  float: left;
  width: 39px;
  height: 25px;
  margin-left: 10px;
  background-image: url(../images/icons/iconCreditYes.png); }

.icon-all-drinks {
  margin: 0 auto;
  margin-top: 30px;
  width: 82px;
  height: 45px;
  background-image: url(../images/icons/iconAllDrinks.png); }

html {
  background-color: black;
  color: white; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

a {
  color: white;
  text-decoration: none; }

a.button {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid white;
  margin-top: 1em;
  font-size: 14px; }

#logo-wrapper {
  background: #5D5D5D;
  padding: 16px 0; }

#logo {
  background: url(../images/logo_vibeoverflow@2x.png) no-repeat center center;
  background-size: contain;
  height: 40px;
  width: 100%; }

.vibe-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.vibe-detail {
  flex: 1;
  background: gray;
  color: black;
  font-size: 12px;
  min-width: 50px;
  min-height: 150px;
  margin-bottom: 10px;
  padding: 10px; }
  .vibe-detail:first-child {
    margin-right: 10px; }
  .vibe-detail:last-child {
    margin-right: 0; }

header, footer, .places {
  margin: 20px; }

header h2 {
  text-transform: uppercase;
  font-size: 12px; }

.location-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 48px;
  line-height: 1em;
  margin: 0; }

footer {
  text-align: center;
  padding-bottom: 30px; }

a {
  font-weight: bold; }

.vibe-detail h2 {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0; }

.vibe-detail h3 {
  font-size: 12px;
  font-weight: bold; }

#scene {
  background-color: #3AC3FF; }

#gender {
  background-color: #FFDE3A; }

#density {
  background-color: #FE0170; }

#now-playing {
  background-color: #3AC3FF; }

#ambiance {
  background-color: #FC7333; }

#payment {
  background-color: #C681FF; }

#drinks {
  background-color: #00EB7C; }

.scene-details {
  display: flex; }
  .scene-details div {
    flex: 1; }
    .scene-details div p {
      margin: 0; }

.recent {
  color: #FE0170; }
  .recent a {
    color: #FE0170; }

.nearby {
  color: #FFDE3A; }
  .nearby a {
    color: #FFDE3A; }

.recommended {
  color: #3AC3FF; }
  .recommended a {
    color: #3AC3FF; }

.places {
  margin-top: 3em; }
  .places h2 {
    font-size: 12px;
    text-transform: uppercase; }
  .places h3 {
    font-size: 36px;
    margin: 0; }

/*# sourceMappingURL=goodvibrations.css.map */
